<div class="food-img-container">
  <div class="login-content">
    <form action="/login" method="POST">
        <label for="email" class="form-label">Email address</label>
        <input value="{{email}}" type="email" class="form-control {{#if errorMessage}}is-invalid{{/if}}" id="email" name="email" aria-describedby="emailHelp" required>
          <div class="invalid-feedback">
            {{errorMessage}}
          </div>
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      <button type="submit" class="button-52">Submit</button>
        <a href="/login/google" class="login-btn-container">
          <i class="fa fa-google"></i>
          Login with Google
        </a>
    </form>
  </div>
</div>
