<nav class="navbar-container">
  <div class="logo-container">
    <h5>Açaí</h5>
    {{!-- <img src="/images/lemon-icon.png" alt="icon" width="25px"> --}}
  </div>
  <ul class="nav-list">
    {{#if currentUser}}
      <li>
        <a class="nav-link" aria-current="page" href="/foods">Foods</a>
      </li>
      <li>
        <a class="nav-link" aria-current="page" href="/recipes">Recipes</a>
      </li>
      <li>
        <a class="nav-link" aria-current="page" href="/comunity">Comunity</a>
      </li>
      <li>
        <a class="nav-link" aria-current="page" href="/diary">My diary</a>
      </li>
      <li>
        <a class="nav-link" aria-current="page" href="/logout">Log out</a>
      </li>
    {{else}}
      <li>
        <a class="nav-link" aria-current="page" href="/signup">Sign up</a>
      </li>
      <li>
        <a class="nav-link" aria-current="page" href="/login">Log in</a>
      </li>
    {{/if}}
  </ul>
</nav>