<nav class="navbar-container">
  <div class="logo-container">
    <a href="/">Açaí</a>
    {{!-- <img src="/images/lemon-icon.png" alt="icon" width="25px"> --}}
  </div>
  <ul class="nav-list">
  
      <li>
        <a class="nav-link" aria-current="page" href="/signup">Sign up</a>
      </li>
      <li>
        <a class="nav-link" aria-current="page" href="/login">Log in</a>
      </li>
  </ul>
</nav>