<nav class="navbar-container">
  <div class="logo-container">
    <img src="/images/acai-icon.png" alt="icon" class="icon-nav">
    <a href="/">Açaí</a>
  </div>
  <ul class="nav-list">
  
      <li>
        <a class="nav-link" aria-current="page" href="/signup">Sign up</a>
      </li>
      <li>
        <a class="nav-link" aria-current="page" href="/login">Log in</a>
      </li>
  </ul>
</nav>