{{#if currentUser}}

<div class="sidebar-container">
    <div class="profile-content">
        </div>
    <div class="button-sidebar">
        <ul>
            <li>
        <a class="side-link" href="/profile">Edit</a>
        </li>
        <li>
        <a class="side-link" href="/analyze">Analyze</a>
        </li>
        <li>
        <a class="side-link" href="/logout">Logout</a>
        </li>
    </ul>
    </div>
</div>
{{/if}}