<div class="sidebar-container">
    <div class="sidebar-toggle">
        <i class='bx bxs-chevron-left-circle icon-to-change'></i>
    </div>
    <div class="sidebar-title">
        <h2>Açaí</h2>
        <p>Diary Food</p>
    </div>
    <div class="sidebar-main">
        <ul class="sidebar-links-list">
            <li class="sidebar-list">
                <a href="/dashboard" class="sidebar-link">
                    <i class='bx bxs-home-alt-2'></i>
                    <span class="sidebar-list-text">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href="/profile" class="sidebar-link">
                    <i class='bx bxs-face'></i>
                    <span class="sidebar-list-text">Profile</span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href="/analytics" class="sidebar-link">
                    <i class='bx bx-pulse'></i>
                    <span class="sidebar-list-text">Analytics</span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href="/ingredients" class="sidebar-link">
                    <i class='bx bx-cheese'></i>
                    <span class="sidebar-list-text">Ingredients</span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href="/recipes" class="sidebar-link">
                    <i class='bx bxs-food-menu'></i>
                    <span class="sidebar-list-text">Recipes</span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href="/community" class="sidebar-link">
                   <i class='bx bx-game'></i>
                    <span class="sidebar-list-text">Community</span>
                </a>
            </li>
        </ul>
        <li class="sidebar-logout">
            <a href="/logout" class="sidebar-link">
                <i class='bx bxs-exit'></i>
                <span class="sidebar-list-text">Logout</span>
            </a>
        </li>
    </div>
</div>
