<div class="about-us-container">

  <div id="info-mandi" class="about-us-info">
    <img src="https://avatars.githubusercontent.com/u/115883521?v=4" alt="amanda photo">
    <div class="about-me">
    <h5>Amanda Cuervo</h5>
    <p>Web Developer</p>
    </div>
    <div class="card__social" id="card-social-1">
      <div class="card__social-control">
        <!-- Toggle Button -->
        <div class="card__social-toggle" id="card-toggle-1">
          <i class="ri-add-line"></i>
        </div>

        <span class="card__social-text">My social networks</span>

        <!-- Card Social -->
        <ul class="card__social-list">
          <a href="https://github.com/mandicuervo" target="_blank" class="card__social-link">
            <i class='bx bxl-github' style='color:#0c0c0c'  ></i>
          </a>

          <a href="https://www.linkedin.com/in/amandacuervosutil/" target="_blank" class="card__social-link">
            <i class='bx bxl-linkedin-square' style='color:#0c0c0c' ></i>
          </a>

        </ul>
      </div>
    </div>
  </div>

  <div id="info-acai" class="about-us-info-center">
    <img src="/images/icon.png" alt="icon" class="image-icon">
    <p>
      Açaí is a food diary that have been created by Amanda Cuervo and Edson Mitiaki Yao during their Web Development Bootcamp at Ironhack.
      <br>The project was developed in two weeks and in the project we have used:
      <br>
      <br>-Frontend Technologies: JavaScript | HTML | CSS | Bootstrap
      <br>- Backend Technologies: Node.js | Express.js | Mongoose | MongoDB | Axis | Cloudinary | Passport | Bcrypt
      <br>- APIs: Spoonacular
      <br>
      <br>If you get in touch with us don't hesitate to check our links!
    </p>
  </div>

  <div id="info-eddy" class="about-us-info">
    <img src="https://avatars.githubusercontent.com/u/124936555?v=4" alt="eddy photo">
    <div class="about-me">
    <h5>Edson Mitiaki Yao</h5>
    <p>Web Developer</p>
    </div>
    <div class="card__social" id="card-social-2">
      <div class="card__social-control">
        <!-- Toggle Button -->
        <div class="card__social-toggle" id="card-toggle-2">
          <i class="ri-add-line"></i>
        </div>

        <span class="card__social-text">My social networks</span>

        <!-- Card Social -->
        <ul class="card__social-list">
          <a href="https://github.com/eddyao90" target="_blank" class="card__social-link">
            <i class='bx bxl-github' style='color:#0c0c0c'  ></i>
          </a>

          <a href="www.linkedin.com/in/edsonyao" target="_blank" class="card__social-link">
            <i class='bx bxl-linkedin-square' style='color:#0c0c0c' ></i>
          </a>

          <a href="https://www.instagram.com/luckyao/" target="_blank" class="card__social-link">
            <i class='bx bxl-instagram' style='color:#0c0c0c' ></i>
          </a>
        </ul>
      </div>
    </div>
  </div>

</div>

<script src="/js/about.js"></script>