<div class="home-food-img">
    <div class="description-container">
        <h5 class="description">The Açaí food diary helps you by becoming a guide on your journey to healthier eating.</h5>
        <a href="/signup" class="button-52">Let's go? Start using now!</a>
    </div>
</div>

<div class="animation-container">
    <p class="animation-text">STOP EATING SH*T</p>
</div>

<div class="resources-container">
    <h3>Resources that will motivate you to progress in your food reeducation</h3>
    <div class="resources-content-wrapper">
        <div class="meal-plans content">
            {{!-- <img src="" alt=""> --}}
            <h5>Personalized meal plans</h5>
            <p>Need help or inspiration to get started? Our meal plans, tailored by our nutrition experts, will help you choose the right path to reach your goals. The daily tips make it possible for you to make the most of your diet without having to skip anything!</p>
        </div>
        <div class="analyze content">
            {{!-- <img src="" alt=""> --}}
            <h5>Analyze your habits</h5>
            <p>Changing habits is one of the biggest obstacles on the journey to healthier eating. That's why Lemonade's online food diary connects to several analysis options, which help you to get a long-term overview of your eating habits, so that you can modify them over time.</p>
        </div>
        <div class="recipes content">
            {{!-- <img src="" alt=""> --}}
            <h5>Recipes for your Diary</h5>
            <p>Having a healthy diet doesn't just mean following a specific plan or diet. It is also important to know new foods and recipes. To help keep your food diary fresh, our nutrition experts personally try all of our recipes and can improve them for you!</p>
        </div>
    </div>
</div>
  <footer class="text-center text-white" style="background-color: #330033">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Reviews</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="text-white me-4">
          <i class='bx bxl-instagram' style='color:#f0f3f0' ></i>
        </a>
        <a href="" class="text-white me-4">
          <i class='bx bxl-github' style='color:#f0f3f0' ></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->
  </footer>
