<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootdey">
<div class="col-md-12 bootstrap snippets">
<div class="panel">
  <div class="panel-body">
    <form action="/community" method="POST">
    <textarea class="form-control {{#if errors.body}}is-invalid{{/if}}" id="body" rows="3" placeholder="Today I ate so healthy that I am so happy that I want to share it" name="body" required>{{tweet}}</textarea>
    <div class="mar-top clearfix">
      <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
      <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
      <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
      <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
    </div>
    </form>
  </div>
</div>
<div class="panel">


<div class="d-flex min-vh-100 gap-2">
  <section class="border border-bottom-0 border-top-0 w-100 p-4">
    <h1 class="text-success">Everybody have something to say: share your thoughts BLA</h1>
    {{#each comments as |comment|}}
      {{> comment comment=comment currentUser=../currentUser}}
    {{/each}}
  </section>
</div>
<div class="panel-body">
   



