<div class="community">
    <h1 class="text" style='color:#ffffff'>Our Community</h1>
    <form action="/community" method="POST" enctype="multipart/form-data">
    <textarea class="form-control {{#if errors.body}}is-invalid{{/if}}" id="body" rows="3" placeholder="Today I ate so healthy that I want to share it" name="body" required>{{comment}}</textarea>
      <div class=" mar-top clearfix d-grid gap-1 d-md-flex justify-content-md-end">
      <label for="image-input"><i class='bx bxs-camera-plus bx-tada-hover bx-md' style='color:#d4c3dc'  ></i></label>
      <input type="file" name="image" id="image-input" class="form-control-file" style="display: none;visibility: none"/>
      <button class="btn-share" type="submit">Share</button>
    </div>
    </form>
  


    <div class="d-flex min-vh-100 gap-2">
    <section class="community-comments">
    <h1 class="text" style='color:#ffffff'>Explore what people are sharing</h1>
    {{#each comments as |comment|}}
  
      {{> comment comment=comment currentUser=../currentUser}}

      {{else}}
      <div class="heart-icon">
      <div class="heart">
      </div>
      </div>
    {{/each}}
    </section>
    </div>
</div>
