<div class="dashboard-container">
    <h1>Diary Food</h1>

    <div class="diary">
        <form action="/dashboard" method="POST">
            <div class="breakfast">
                <label for="breakfast" class="form-label">Breakfast:</label>
                <input type="text" id="search-ingredient-diary" name="breakfast">
                <button type="submit" class="button-52">Add</button>
            </div>

            <div class="lunch">
                <label for="lunch" class="form-label">Lunch:</label>
                <input type="text" id="search-ingredient-diary" name="lunch">
                <button type="submit" class="button-52">Add</button>
            </div>

            <div class="dinner">
                <label for="dinner" class="form-label">Dinner:</label>
                <input type="text" id="search-ingredient-diary" name="dinner">
                <button type="submit" class="button-52">Add</button>
            </div>

            <div class="other">
                <label for="other" class="form-label">Other:</label>
                <input type="text" id="search-ingredient" name="other">
                <button type="submit" class="button-52">Add</button>
            </div>
        </form>



    </div>




    <div class="day-summary"></div>

</div>

