body {
    margin: 0;
}

/* sidebar container
.sidebar-container {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: black;
  position: fixed;
  height: 100%;
}

.buttons-sidebar {
    padding-top: 300px;
    display: flex;
}

.buttons-sidebar a {
    color: rgb(230, 218, 218);
    text-decoration: none;
    padding: 10px;
}


.buttons-sidebar ul {
    list-style: none;

} */
