@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --transparentBlack: #000000db;
    --black: black;
    --white: white;
    --purple: #ad93eb;
    --dark-purple: #75b6a2;
    --grey: #444343;
}

body, html {
    overflow-x: hidden;
}

/* NAVBAR */
.navbar-container {
    width: 100vw;
    height: 70px;
    background-color: var(--transparentBlack);
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container a {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 30px;
    text-decoration: none;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    list-style-type:none
}

.nav-list li {
    padding: 0;
    margin: 0;
    color: var(--white);
}

/* HOME PAGE */
.home-food-img {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/food-home.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 200px 0 0 7%;
}

.description-container {
    width: 70%;
    color: var(--white);
}
@media (max-width: 575px) {
    .description-container {
        width: 100%;
    }
}

.description {
    font-size: 50px;
    margin-bottom: 40px;
}
@media (max-width: 575px) {
    .description {
        font-size: 25px;
    }
}

.animation-container {
    width: 100vw;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--black);
}

.animation-text {
    margin: 0;
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
    animation-name: rightToLeft;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rightToLeft {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-300px);
    }
  }

.resources-container {
    background-image: url("./images/paper-bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 350px;
    padding: 60px 7% 40px 7%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.resources-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    width: 28%;
    margin-bottom: 15px;
}
@media (max-width: 575px) {
    .content {
        width: 100%;
    }
}

.resources-container h3 {
    font-size: 24px;
    text-align: center;
}

.resources-container h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.resources-container p {
    font-size: 18px;
}

/* BUTTON */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: white;
}

.button-52:after {
  content: "";
  background-color: var(--purple);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* SIGNUP PAGE */
.food-img-container{
    width: 100vw;
    height: 100vh;
    background-image: url("./images/food-home-black.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 200px 0 0 7%;
}

.signup-content {
    width: 70%;
    color: var(--white);
}

.login-content {
    width: 70%;
    color: var(--white);
}


/*-------------SIDEBAR*/
.sidebar-container {
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  padding: 20px;
  background: var(--transparentBlack);
  transition: all 0.3s ease;
  z-index: 100;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-title {
  position: absolute;
  left: 100px;
  text-align: center;
}

.sidebar-main {
  margin-top: 100px;
  height: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-links-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-link {
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-list {
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.sidebar-list:hover {
  background-color: var(--purple);
  cursor: pointer;
}

.sidebar-logout {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--purple);
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.sidebar-logout:hover {
  background-color: var(--dark-purple);
  cursor: pointer;
}

.sidebar-toggle {
  color: var(--purple);
  font-size: 40px;
  position: absolute;
  right: -13px;
  transition: all 0.2s ease;
}

.sidebar-toggle:hover {
  color: var(--dark-purple);
  cursor: pointer;
}

.close {
  width: 90px;
}
.hidden {
  visibility: hidden;
}

/*dynamics PAGES*/
.page-padding-close {
  padding-left: 90px;
  transition: all 0.2s ease;
}

.page-padding-open {
  padding-left: 300px;
  transition: all 0.2s ease;
}

/*-----------PROFILE PAGE */
.profile-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5%;
  padding-top: 3%;
  background-image: url("./images/paper-bg.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  color: var(--grey)
}

.profile-container input {
  width:auto;
}

.image-username-container {
  display: flex;
  flex-direction: column;
}

.form-profile-details {
  padding-top: 5%;
}

.form-profile-diet-goal {
  padding-top: 5%;
}

.btn-save-profile {
  margin-top: 5%;
  margin-bottom: 5%;
}

/*DIARY- DASHBOARD*/
.diary-container {
  height: 100vh;
  margin-top: 3%;
  margin-left: 3%;
}

.diary-content {
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
}

.cards-diary {
  background-color: #444343;
  color: white;
  width: 200px;
  height: 300px;
  border-radius: 5%;
  text-align: center;
}

.diary-information {
  padding-top: 30px;
  display: flex;
  gap:100px;
}


.diary-list-ingredient {
  cursor: pointer;
  margin: 0;
  padding: 3px;
  border: 1px solid black;
}

.diary-list-ingredient h5{
  margin: 0;
}

.diary-list-ingredient:hover {
  background-color: #ad93eb;
}

.error-msg h2 {
  color: red;
}

.no-show {
  display: none;
}

.diary-information {
  display: flex;
}

/* analytics-container */
.analytics-container {
    height: 100vh;
    margin-top: 3%;
    margin-left: 3%;
}

