@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --transparentBlack: #000000b1;
    --white: white;
    --purple: #834f9d;
    --dark-purple: #231a25;
    /* --dark-purple: #270030; */
    --light-purple: #d4c3dc;
    --purple2:#c8a4db;
    --green: #7cc17c;
}

body, html {
    overflow-x: hidden;
}

/* NAVBAR */
.navbar-container {
    width: 100vw;
    height: 70px;
    background-color: var(--transparentBlack);
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container a {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 30px;
    text-decoration: none;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    list-style-type:none
}

.nav-list li {
    padding: 0;
    margin: 0;
    color: var(--white);
}

/* HOME PAGE */
.home-food-img {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/food-home.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 200px 0 0 7%;
}

.description-container {
    width: 70%;
    color: var(--white);
}
@media (max-width: 575px) {
    .description-container {
        width: 100%;
    }
}

.description {
    font-size: 50px;
    margin-bottom: 40px;
}
@media (max-width: 575px) {
    .description {
        font-size: 25px;
    }
}

.animation-container {
    width: 100vw;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
}

.animation-text {
    margin: 0;
    font-size: 24px;
    color: var(--white);
    font-weight: bold;
    animation-name: rightToLeft;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rightToLeft {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-300px);
    }
  }

.resources-container {
    background-image: url("./images/Paper-Texture.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 350px;
    padding: 60px 7% 40px 7%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.resources-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    width: 28%;
    margin-bottom: 15px;
}
@media (max-width: 575px) {
    .content {
        width: 100%;
    }
}

.resources-container h3 {
    font-size: 24px;
    text-align: center;
}

.resources-container h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.resources-container p {
    font-size: 18px;
}

.opinions-home {
  background-image: url("./images/food-home-black.jpeg");
  background-repeat:no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 350px;
  padding: 60px 7% 40px 7%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: antiquewhite;
}

.opinions-home-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.opinions-home p {
  font-size: 18px;
}

/* BUTTONS */
.signup-btn-home {
  background-color: var(--dark-purple);
  color: white;
  padding: 20px 35px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

.signup-btn-home:hover {
  background-color: var(--purple);
  color: white;
}

.signup-btn-signup {
  background-color: var(--dark-purple);
  border-radius: 20px;
  padding: 15px 20px;
  border: none;
  margin-top: 3%;
  color:white;
}

.signup-btn-signup:hover{
  background-color: var(--purple);
  color: white;
}

.btn-login {
  background-color: var(--dark-purple);
  border-radius: 20px;
  padding: 15px 20px;
  border: none;
  margin-top: 3%;
  color:white;
}

.btn-login:hover{
  background-color: var(--purple);
  color: white;
}


.buttons-google {
  display: flex;
  gap: 20px;
}

.btn-google {
  background-color: rgba(0, 0, 0, 0.674);
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 20px;
}

.btn-google:hover {
  background-color: var(--purple);
  color: white;
}

/* SIGNUP PAGE */
.food-img-container{
    width: 100vw;
    height: 100vh;
    background-image: url("./images/food-home-black.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 200px 0 0 7%;
}

.signup-content {
    width: 70%;
    color: var(--white);
}

.login-content {
    width: 70%;
    color: var(--white);
}


/*-------------SIDEBAR*/
.sidebar-container {
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  padding: 20px;
  background: var(--purple);
  transition: all 0.3s ease;
  z-index: 100;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.sidebar-title {
  position: absolute;
  left: 100px;
  text-align: center;
}

.sidebar-main {
  margin-top: 100px;
  height: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-links-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-link {
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-list {
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.sidebar-list:hover {
  background-color: var(--dark-purple);
  cursor: pointer;
}

.sidebar-logout {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--purple);
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.sidebar-logout:hover {
  background-color: var(--green);
  cursor: pointer;
}

.sidebar-toggle {
  color: var(--light-purple);
  font-size: 40px;
  position: absolute;
  right: -13px;
  transition: all 0.2s ease;
}

.sidebar-toggle:hover {
  color: var(--green);
  cursor: pointer;
}

.close {
  width: 90px;
}

.hidden {
  visibility: hidden;
}

/*dynamics PAGES*/
.page-padding-close {
  padding-left: 90px;
  transition: all 0.2s ease;
}

.page-padding-open {
  padding-left: 300px;
  transition: all 0.2s ease;
}

/*-----------PROFILE PAGE */
.profile-container {
  min-height: 100vh;
  padding-left: 5%;
  padding-top: 3%;
  color: white;
  background-color: var(--dark-purple);
}

.username-image-container {
  display: flex;
  align-items: center;
  padding-top: 3%;
}

.inputs-image-username {
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-left: 10%;
}

.image-profile {
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-container input {
  width:auto;
}

.inputs-profile {
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.input-username {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.btn-save-image {
  width: 100px;
  margin-left: 290px;
  background-color: var(--light-purple);
  height: 50px;
  border: none;
  border-radius: 5px;
}

.btn-save-image:hover {
  background-color: var(--purple);
  color: white;
}

.form-profile {
  display: flex;
  gap: 60px;
  margin-top: 10%;
}

.btn-save-profile {
  background-color: var(--light-purple);
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom:3%;
}

.btn-save-profile:hover {
  background-color: var(--purple);
  color: white;
}

/*DIARY-DASHBOARD*/
.diary-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3% 5%;
  background-color: var(--dark-purple);
  color: white;
}

@media (max-width: 600px) {
  .diary-container {
    justify-content: center;
    padding-top: 15px;
  }
}

.diary-inputs-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.diary-form input, .diary-form select {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.bxs-plus-circle {
  color: var(--light-purple);
}

.bxs-plus-circle:hover {
  color: var(--purple);
}

#diary-add-ingredient {
  border: none;
  background-color: var(--background);
  font-size: 35px;
  padding: 0;
  margin: 0;
}

.diary-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}

.cards-diary {
  background-color:  #d4c3dc;
  color: #220033;
  width: 200px;
  min-height: 300px;
  border-radius: 5%;
  text-align: center;
  padding: 30px;
}

@media (max-width: 600px) {
  .cards-diary {
    width: 100%;
  }
}

.diary-nutrition-information {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}

.cards-diary-nutrition-info {
  background-color: #834f9d;
  color: white;
  width: 200px;
  min-height: 200px;
  border-radius: 5%;
  text-align: center;
  padding: 30px;
}

@media (max-width: 600px) {
  .cards-diary--nutrition-info {
    width: 100%;
  }
}

.update-weight-dashboard {
  padding-top: 3%;
}

.input-save-update-weight-profile {
  display: flex;
  gap:10px;
  margin-top: 3%
}

.update-weight-dashboard input {
  width: 100px;
  height: 50px;
}

.btn-save-weight {
  background-color: var(--light-purple);
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.btn-save-weight:hover{
  background-color: var(--purple);
  color: white;
}

/*input search foods*/
#foods-shows-results {
  position: absolute;
  top: 50px;
  left: 0;
}

@media (max-width: 600px) {
  #foods-shows-results {
    top: 40px;
  }
}

.diary-list-ingredient {
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid rgb(230, 229, 229);
  background-color: var(--purple);
  font-size: small;
  min-width: 205px;
}

.diary-list-ingredient h5{
  margin: 0;
  font-size: 14px;
}

.diary-list-ingredient:hover {
  background-color: var(--dark-purple)
}

.error-msg h2 {
  color: red;
}

.success {
  color: rgb(0 139 0);
  padding: 0 8px;
  background-color: rgb(210, 255, 210);
  border: 1px solid rgb(0 139 0);
  border-radius: 5px;
  display: block;
  margin: 5px 0;
}

.no-show {
  display: none !important;
}

/* analytics-container */
.analytics-container {
  text-align: center;
  min-height: 100vh;
  background-color: var(--dark-purple);
  color: white;
  padding: 3% 5%;
}

.details-analytics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-analytics p {
  margin: 0;
}

.analytics-top-content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.analytics-information {
  background-color: var(--light-purple);
  display: flex;
  border-radius: 30px;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--dark-purple);
  min-height: 280px;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#chart1, #chart2 {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  #chart1, #chart2 {
    height: 200px;
    padding: 0px;
    border-radius: 5px;
  }
}

/*RECIPES*/
.recipes-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3% 5%;
  background-color: var(--dark-purple);
  color: white;
}

.recipes-list a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
}

.recipes-list a:hover{
  color: var(--dark-purple);
}

.recipes-list ul {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.links-recipes {
  list-style: none;
  width: 150px;
  height: 40px;
  background-color: var(--purple);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.links-recipes:hover {
  background-color: var(--green)
}

.previous-next {
  font-size: 20px;
}

.diet-recipes-container {
  min-height: 100vh;
  padding: 3% 5%;
  background-color: var(--dark-purple);
  color: white;
}

.cards-recipes {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  text-decoration: none;
  color: white;
  margin-top: 3%;
}

.cards-recipes a {
    width: 400px;
    height: 400px;
    background-color: var(--purple2)
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.cards-recipes a {
  text-decoration: none;
  color: white;
}

.recipe-instructions-container {
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  background-color: var(--dark-purple);
  color: white;
}

.recipes-instructions-content {
  padding-top: 3%;
}

/*INGREDIENTS-PAGE*/
.ingredients-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3% 5%;
    background-color: var(--dark-purple);
    color: white;
}

.ingredients-content {
  margin-top: 3%;
}

.form-search-ingredients {
  margin-top: 3%;
}

.card-ingredient {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid rgb(230, 229, 229);
  background-color: var(--light-purple);
  font-size: small;
  min-width: 100px;
  border-radius: 3px;
  width: 200px;
  border-color: white;
}

.card-ingredient:hover{
  background-color: var(--green);
}

.card-ingredient a {
  text-decoration: none;
  color: var(--dark-purple);
}

.ingredients-micronutrients {
  background-color: var(--dark-purple);
  color: white;
  padding: 3% 5%;
  min-height: 100vh;
  text-align: center;
}

.list-micrunutrients {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  text-decoration: none;
  color: white;
  margin-top: 3%;
}

.list-micrunutrients li {
  width: 250px;
  height: 60px;
  background-color: var(--purple);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-micrunutrients li:hover {
  background-color: var(--green);
}