<div class="ingredients-container">
    <h1>Ingredients</h1>
    <div class="ingredients-content">
        <h5>With the Açaí food search you will find the nutritional information of foods, including micronutrients.</h5>
        <p>Micronutrients, which correspond to vitamins and minerals, are also important in determining which foods are the best sources of energy. Consulting the nutritional table helps you understand which foods offer the best proportion of macro and micronutrients, which is essential for healthy eating and for you to reach your goals.</p>
    </div>

    <div class="form-search-ingredients">
        <h5>Choose one ingredient here:</h5>
        <form>
            <input type="text" id="search-ingredient" name="ingredient" placeholder="Ex: orange">
        </form>
    </div>

    <div id="show-ingredients-results"></div>

</div>

<script>
    const input = document.getElementById('search-ingredient');
    const containerResults = document.getElementById('show-ingredients-results');
    let results = [];

    let timer;
    let myInterval;

    input.addEventListener('keyup', (e) => {
        timer = 0;
        clearInterval(myInterval)
        myInterval = setInterval(function() {
            timer+=1;
            if(timer === 1) {
                clearInterval(myInterval)
                const query = input.value;
                if(input.value) {
                    axios.get(`https://api.spoonacular.com/food/ingredients/search?query=${query}&apiKey=fcf1d538179d466baf22e7953d980be8`)
                    .then(res => {
                        containerResults.innerHTML = '';
                        results = res.data.results;
                        results.forEach(result => {
                            const divToAdd = document.createElement('div');
                            divToAdd.classList.add('card-ingredient');
                            divToAdd.innerHTML = `
                                <a href="/ingredients/details/${result.id}"
                                <h5>${result.name}</h5>
                                </a>
                            `
                            containerResults.appendChild(divToAdd);
                        })
                    })
                    .catch(err => console.log('erro'))
                } else {
                    containerResults.innerHTML = '';
                }
            }
        }, 500);
    })
</script>